// Generated using xcconfig-extractor 0.6.1 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
#include "Base.xcconfig"
SWIFT_OPTIMIZATION_LEVEL = -Onone
DEBUG_INFORMATION_FORMAT = dwarf
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
GCC_DYNAMIC_NO_PIC = NO
ONLY_ACTIVE_ARCH = YES

